#img-element{
    width: 500px;
    height:150px
}
.navy{
    margin-bottom: 100px!important;
}

/* .logos{
    width: 20%!important;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;

} */
/* .inputs{
    width: 100%;
} */

.butty{
    
    font-size: 1.3rem!important;
    width: auto!important;
}
h1{
    padding-top: 60px;
    text-align: center;
    
}
.headings-1{
    font-size: 35px!important;
    text-align: center;
}
.headings{
    text-align: center;
}
h4{
    color: white;
    margin-left: 170px;
}
h5{
    color: white;
}
.info{
    margin-top: 150px!important;
    padding-top: 30px!important;
    width: 100%!important;
    height: 100px!important;
    
}
.info2{
    margin-top: 200px!important;
    padding-top: 30px!important;
    width: 100%!important;
    height: auto!important;
    
}
.info1{
    width:100%!important;
    padding-top: 30px!important;
    height: 120px!important;
    padding-left: 30px!important;
    padding-bottom: 30px!important;
    
    padding-right: 10px!important;
}
.sign{
    color: green;
}
.header-elements a:hover{
    color: black;
}
.header-elements a{
    color: black;
    text-decoration: none;
}

.continue-elt{
    color: white;
    text-decoration: none;
    
}
/*Dropdown Button */
.dropbtn{
    background-color: ;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
/* The container <div> - needed to position the dropdown content */
.dropdown{
  position: relative;
  display: inline-block;
  float: right;
}
/* Dropdown Content (Hidden by Default), the z-index is used to place the dropdown infront of other elements */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {
    display: block;
} */
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn:focus{
    background-color: #ddd;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}
